<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs',{pageName : "Menu Home"}) %>
<body>

    <%for(let i=0;i<menu.length;i++){ %>
    <%const menuItem=menu[i] %>
    <div>
        <h3><%= menuItem.item %></h3>
    </div>
    <div>
        <form method="post" action="/menu/<%=i%>?_method=DELETE">
            <input type="submit" value="Delete Menu Item">
        </form>


    </div>
    <div>
       <a href="/menu/<%=i%>"> <img class="card-image" src="<%= menuItem.image%>" alt="<%= menuItem.item %>" /></a>
    </div>
    <div>
        <h4>$<%=menuItem.price %></h4>
    </div>
    <%} %>
</body>
</html>