<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs', {pageName: "Menu Item"}) %> 
<body>
    
    <h1><%=menuItem.item%></h1>
    <img src="<%=menuItem.image%>" alt="<%=menuItem.name%>">
    <h4>$<%=menuItem.price%></h4>
    
</body>
</html>